body {
    background-color: black;
}

h1 {
    color: black;
}

nav {
    background-color: slategray;
    margin: 0;
    position: fixed;
    top: 1;
}

/* main content of landing page */
.title-page h1 {
    margin: 0;
    color: black;
}
select {
    display: inline;
}


.title-page {
    height: 80vh;

    text-align: center;
}
.section {
    height: 60vh;
    background-color: slategray;
}
.cont2 {
    background-image: url('../images/landing2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 60vh;

    text-align: center;
}

