body {
    background-color: black;
}

h1 {
    color: black;
}

nav {
    background-color: #C9B377;
    margin: 0;
    position: fixed;
    top: 1;
}

/* main content of landing page */
.main-content {
    padding-top: 55px;
}
@media (max-width: 979px) {
    .main-content {
      padding-top: 55px;
    }
}
.title-page h1 {
    margin: 0;
    color: black;
}
select {
    display: inline;
}


.parallax-container {
    height: 80vh;

}
.section {
    height: 60vh;
    background-color: #A2AACA;
}
.cont2 {
    background-image: url('../images/landing2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 60vh;

    text-align: center;
}

