/* adjust defaults*/
.btn-danger {
    background-color: #E57248;
}
.btn-danger:hover, .btn-danger:focus {
    background-color: #FF7F50;
}
select#insurance-list {
    background-color: #475C58;
}
.input-field label {
    color: #475C58;
}



/* overall adjustments*/
body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    overflow-x:hidden;
}

h1 {
    color: black;
}
nav {
    background-color: #DCE2C8;
    margin: 0;
    position: fixed;
    top: 1;
    color: black;
    z-index: 10;
}

/* main content of landing page */
.main-content {
    padding-top: 55px;
}
@media (max-width: 979px) {
    .main-content {
      padding-top: 55px;
    }
}
.title-page h1 {
    margin: 0;
    color: black;
}
select {
    display: inline;
}


.parallax-container {
    height: 300px;

}

.section {
    height: 500px;
    background-color: #A8DCD1;
}
.footer {
    height: auto;
    background-color: #475C58;
    color: white;
}
.footer .name1 {
    position: relative;
    text-align: left;
}
.footer .name2 {
    position: relative;
    text-align: right;
}
.footer .course-name {
    position: relative;
    text-align: center;
}
.section h2 {
    text-align: center;
}
.cont2 {
    background-image: url('../images/landing2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 60vh;

    text-align: center;
}

