{% extends 'main.html' %}

{% block title %}
MyClinic
{% endblock %}


{% block pageTitle %}

{% endblock %}


{% block navTabs %}
<li><a href="sass.html">Home</a></li>
<li><a href="badges.html">Test</a></li>
<li><a class="login" href="#">Login</a></li>
{% endblock %}
{% block navTabsMobile %}
<li><a href="sass.html">Home</a></li>
<li><a href="badges.html">Test</a></li>
<li><a class="login" href="#">Login</a></li>
{% endblock %}

{% block content %} 
<div class="title-page">

</div>
<div class="cont1">

</div>
<div class="cont2">
    
</div>
{% endblock %}

