{% extends 'main.html' %}

{% block title %}
MyClinic
{% endblock %}


{% block pageTitle %}

{% endblock %}


{% block navTabs %}
<li><a class="login" href="#">Login</a></li>
<li><a class="signup" href="#">Sign Up</a></li>
{% endblock %}
{% block navTabsMobile %}
<li><a class="login" href="#">Login</a></li>
<li><a class="signup" href="#">Sign Up</a></li>
{% endblock %}

{% block content %}
<div class="section">
    <div class="row container">
        testing
    </div>
    
</div>
<div class="parallax-container title-page">
    <div class="parallax">
        <img src="../images/landing.jpg" alt="landing image 1">
    </div>

</div>
<div class="section">
    <div class="row container">
        testing
    </div>

</div>

<div class="parallax-container">
    <div class="parallax">
        <img src="../images/landing2.jpg" alt="landing image 2">
    </div>
    
</div>
<div class="section">
        <div class="row container">
            testing
        </div>
    
</div>
{% endblock %}