{% extends 'main.html' %}

{% block header %}
<link rel="stylesheet" href="../css/style.css">
<link rel="stylesheet" href="../css/tingle.css">

<title>MyClinic</title>
{% endblock %}


{% block pageTitle %}

{% endblock %}
{% block mobilemenu %}
<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
{% endblock %}

{% block navTabs %}
<li><a class="login" href="#">Login</a></li>
<li><a class="signup" href="#">Sign Up</a></li>
{% endblock %}
{% block navTabsMobile %}
<li><a class="login" href="#">Login</a></li>
<li><a class="signup" href="#">Sign Up</a></li>
{% endblock %}

{% block content %}
<div class="parallax-container">
    <div class="parallax">
        <img src="../images/landing.jpg" alt="landing image 1">
        
    </div>

</div>
<div class="section">
    <div class="row container">
        <h2>Welcome to MyClinic</h2>

    </div>
    
</div>
<div class="parallax-container">
    <div class="parallax">
        <img src="../images/landing.jpg" alt="landing image 1">
    </div>

</div>
<div class="section footer">
    <div class="row container">
        <div class="course-name col s12">CSCI 4333</div>
        <div class="name1 col s6">Antonio Adame</div>
        <div class="name2 col s6">Cristal Coria</div>
    </div>

</div>
<!--
<div class="parallax-container">
    <div class="parallax">
        <img src="../images/landing2.jpg" alt="landing image 2">
    </div>
    
</div>
<div class="section">
        <div class="row container">
            
        </div>
    
</div> -->

<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="../js/tingle.js"></script>         
<script src="../js/source.js"></script> 
<script src="../js/loginHandler.js"></script>
{% endblock %}