<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> <!--font-->


    {% block header %}{% endblock %} 
    {% block pageTitle %}{% endblock %}
</head>
<body> 
              

    <!--NAVBAR-->
    <nav class="tingle-content-wrapper">

        <div class="sticky-nav nav-wrapper">
            <div class="container">
                <a href="#" class="brand-logo" style="color: black;">MyClinic</a> 
                {% block mobilemenu %}{% endblock %}
                <ul class="right hide-on-med-and-down">
                {% block navTabs %}{% endblock %}
                </ul>
            </div>
        </div>
    </nav> 
    {% block navTabsMobile %}{% endblock %}


    <div class="main-content tingle-content-wrapper">
        <!--only for dashboard.-->
        {% block currentSelect %}{% endblock %}
        <!--main content of current site.-->
        {% block content %}{% endblock %}
    </div>

</body>

{% block scripts %}{% endblock %}
</html>