{% extends 'main.html' %}

{% block title %}
MyClinic
{% endblock %}


{% block pageTitle %}
<link rel="stylesheet" href="../../../css/dashboard.css">
<link rel="stylesheet" href="../../../css/tingle.css">

<title>MyClinic Dashboard</title>
{% endblock %}


{% block navTabs %}
<li><a class="logout" href="#">Log out</a></li>
{% endblock %}
{% block navTabsMobile %}
<li><a class="login" href="#">Overview</a></li>
<li><a class="login" href="#">Bills</a></li>
<li><a class="logout" href="#">Log out</a></li>
{% endblock %}

{% block content %} 
<ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="../../../images/landing.jpg" alt="">
      </div>
      <a href="#name"><span class="white-text name">{{first_name}} {{last_name}}</span></a>
      <a href="#email"><span class="white-text email">{{email}}</span></a>
    </div></li>
    <li><a class="waves-effect" href="#">Overview</a></li>
    <li><div class="divider"></div></li>
    <li><a class="waves-effect">Bills</a></li>
    <li><div class="divider"></div></li>
    <li><a class="waves-effect" href="#!">Appointments</a></li>
    <li><div class="divider"></div></li>
    <li><a class="logout waves-effect" href="#!">Log Out</a></li>

  </ul>
<a href="#" data-target="slide-out" class="dashboard-side-trigger sidenav-trigger"><i class="material-icons">chevron_right</i></a>


<script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>        
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="../../../js/tingle.js"></script>         
<script src="../../../js/source.js"></script> 
{% endblock %}